= form_for @new_snippet do |f|
	= f.text_area :content, :placeholder => "enter your code here..."

	.snippet_extra
		/ = f.text_field :language
		= f.select :language, [['Ruby', 'ruby'], ['JavaScript', 'javascript'], ['PHP', 'php'], ['Text', 'text'], ['HTML', 'html'], ['CSS', 'css']]
		= f.submit 'Save'



/ 		ActionScript
/ Ada
/ ANTLR
/ AppleScript
/ Assembly (various)
/ Asymptote
/ Awk
/ Befunge
/ Boo
/ BrainFuck
/ C, C++
/ C#
/ Clojure
/ CoffeeScript
/ ColdFusion
/ Common Lisp
/ Coq
/ Cython
/ D
/ Dart
/ Delphi
/ Dylan
/ Erlang
/ Factor
/ Fancy
/ Fortran
/ F#
/ Gherkin (Cucumber)
/ GL shaders
/ Groovy
/ Haskell (incl. Literate Haskell)
/ Io
/ Java
/ JavaScript
/ LLVM
/ Logtalk
/ Lua
/ Matlab
/ MiniD
/ Modelica
/ Modula-2
/ MuPad
/ Nemerle
/ Nimrod
/ Objective-C
/ Objective-J
/ Octave
/ OCaml
/ PHP
/ Perl
/ PovRay
/ PostScript
/ PowerShell
/ Prolog
/ Python 2.x and 3.x (incl. console sessions and tracebacks)
/ Rebol
/ Redcode
/ Ruby (incl. irb sessions)
/ S, S-Plus, R
/ Scala
/ Scheme
/ Scilab
/ Smalltalk
/ SNOBOL
/ Tcl
/ Vala
/ Verilog
/ VHDL
/ Visual Basic.NET
/ XQuery
/ Template languages

/ Cheetah templates
/ Django/Jinja templates
/ ERB (Ruby templating)
/ Genshi (the Trac template language)
/ JSP (Java Server Pages)
/ Myghty (the HTML::Mason based framework)
/ Mako (the Myghty successor)
/ Smarty templates (PHP templating)
/ Tea
/ Other markup

/ Apache config files
/ Bash shell scripts
/ BBCode
/ CMake
/ CSS
/ Debian control files
/ Diff files
/ DTD
/ Gettext catalogs
/ Gnuplot script
/ Groff markup
/ HTML
/ HTTP sessions
/ INI-style config files
/ IRC logs (irssi style)
/ Lighttpd config files
/ Makefiles
/ MoinMoin/Trac Wiki markup
/ MySQL
/ Nginx config files
/ POV-Ray scenes
/ Ragel
/ Redcode
/ ReST
/ SQL, also MySQL, SQLite
/ Squid configuration
/ TeX
/ tcsh
/ Vim Script
/ Windows batch files
/ XML
/ XSLT
/ YAML